{% extends "AppMerlo/padre.html" %}

{% load static %}

{% block contenidoQueCambia %}

<h1>Listado de Clientes</h1>

{% if formulario.errors %}

<p style="color: red">Hay un error en los datos</p>


{% endif %}

<form action= "{% url 'clientes' %}" method="POST">{% csrf_token %}

    <table>
        {{formulario.as_table}}
    </table>
    <input type="submit" value="ENVIAR FORMULARIO DE CLIENTES">

</form>


{% endblock %}

{% block título %}

<h1>PAGINA PRINCIPAL DE CLIENTES</h1>

<!--Acá iría el botón de buscar clientes. El template ya está-->

{% endblock %}